version: '3.8'

services:
  voidlib:
    build: .
    container_name: voidlib-ctf
    ports:
      - "9004:9004"
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 128M
    security_opt:
      - no-new-privileges:true
    read_only: true
    tmpfs:
      - /tmp:size=10M,mode=1777
